@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    * {
        @apply box-border m-0 p-0
    }
    a {
        @apply hover:text-purple-600 font-semibold transition-colors duration-300 
    }
    h2{
        @apply font-bold text-xl px-2 my-4
    }
    h4{
        @apply dark:text-gray-400 font-semibold
    }
    button{
        @apply font-semibold px-2 py-1 w-28 bg-custom-primary text-white dark:bg-slate-300 rounded-md dark:text-custom-primary
    }
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.ql-container{
    font-size: 20px !important;
}

.quill >.ql-container>.ql-editor.ql-blank::before{
    color: #b3b3b1;
}