@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    * {
        @apply box-border m-0 p-0
    }
    a {
        @apply hover:text-purple-600 font-semibold transition-colors duration-300
    }
    h2{
        @apply font-bold text-xl px-4
    }
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}